<section class="example-cards">
    <div class="container">
        <div class="row justify-content-center">
            {% for card in fields.cards %}
                <div class="card col-lg-3 col-sm-12 m-1">
                    {{ card.text }}
                </div>
            {% endfor %}
        </row>
    </div>
</section>