<section class="faq" style="
        {{ fields.padding_override_top is not empty ? 'padding-top: ' ~ fields.padding_override_top ~ ';' : '' }}
		{{ fields.padding_override_bottom is not empty ? 'padding-bottom: ' ~ fields.padding_override_bottom ~ ';' : '' }}
    ">
    <div class="container">
        <div class="row">
           {% for question in fields.questions %}
                <div class="question col-12">
                    <div class="title">
                        {{ question.title }}
                        <i class="fas fa-angle-down fa-lg"></i>
                    </div>
                    <div class="answer">
                        {{ question.answer }}
                    </div>
                </div>
           {% endfor %}
        </div>
    </div>
</section>