<nav class="index-list">
    <div class="container">
        <div class="row justify-content-center">
            <div class="header col-12">
                {{ fields.header }}
            </div>

            <ol class="list row justify-content-between">
            
            </ol>
        </div>
    </div>
</nav>