<nav class="index-list">
    <div class="container">
        <div class="row justify-content-center">
            <div class="header col-12">
                <div class="title">{{ fields.header }}</div>
                <button class="mobile-title col-12">{{ fields.header }}<i class="fas fa-angle-down fa-2x"></i></button>     
            </div>

            <ol id="list" class="row">
            
            </ol>
        </div>
    </div>
</nav>