<section class="programs-area">
    <div class="container">
        <div class="filter-area row">
            <div class="warning col-12">
                <p>WARNING, LENDING MONEY IS RISKY OK?</p>
            </div>

            <div class="filter col-12">
                <button class="primary-button filter-button"><span class="text"><i class="fas fa-cogs"></i>Filtera</span></button>
                <button class="primary-button reset-button"><span class="text"><i class="fas fa-cogs"></i>Återställ</span></button>

                <div class="filter-choices col-12">
                    <div class="filter-choice" ><input id="uc" name="uc" type="checkbox">Utan UC</input></div>
                    <div class="filter-choice"  ><input id="remark" name="remark" type="checkbox">Utan Betalningsanmärkning</input></div>
                </div>
            </div>
        </div>
        <div class="programs row justify-content-center">
            
        </div>
    </div>
</section>