#sub-header {
    background-color: #33668d;
    position: fixed;
    text-align: center;
    top: 0; left: 0; right: 0;
    z-index: 99;
 
    p {
        margin-bottom: 0;
        color: white;
        font-size: 14px!important;
        font-style: italic;
        
        i {
            margin-left: 10px;
            margin-right: 10px;
        }
        
        a {
            color: white;
            margin-left: 10px;
            font-style: italic;

            &:hover {
                color: white;
            }
        }
    }   
    
    @media(max-width: 992px) {
        display: none;
    }
}

#mobile-header {
    display: none;

    @media(max-width: 992px) {
        background-color: var(--primary);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        top: 20px; left: 0; right: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        z-index: 10;
        font-family: 'Lato';
        color: white;
    } 
}

#site-header {
    background-color: var(--primary);
	position: fixed;
    display: flex;
    align-items: center;
    height: 50px;
    top: 20px; left: 0; right: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 100;
    font-family: 'Lato';
    color: white;
    transition: top 0.1s linear;

    @media(max-width: 992px) {
        top: 0!important;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        right: 0;
        transition: right .3s;
        z-index: 110;
        
        @media(max-width: 992px) {
            position: fixed;
            right: -1000px;
            flex-direction: column;
            top: 0;
            width: 50vw;
            height: 100vh;
            z-index: 99;
            background-color: white;
            padding: 0;
            transition: right .3s;
            z-index: 101;
        }

        @media(max-width: 840px) {
            width: 75vw;
        }

        @media(max-width: 576px) {
            width: 100vw;
        }

        &.expand {
            right: 0;
            z-index: 101;
        }

        .mobile-nav-logo {
            display: none;
            background-color: var(--primary);
            max-height: 50px;

            @media(max-width: 992px) {
                display: flex;
                align-items: center;
            }

            .logo-text {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
                font-weight: 900;
                color: white;
                transition: color 0.1s;
                font-size: 20px;
        
                @media(max-width: 1200px) {
                    font-size: 18px;
                }
        
                @media(max-width: 567px) {
                    font-size: 16px;
                    margin-right: 25px;
                    text-align: center;
                }
            }
        
            img {
                height: 35px;
                margin-right: 10px;
            }
        }

        #mobile-menu-footer {
            display: none;
            background-color: #262626;
            color: white;
            padding: 20px;
            width: 100%;

            @media(max-width: 992px) {
                display: block;
            }
    
            .title {
                font-size: 16px;
                font-weight: 700;
            }

            .footer-links {
                font-size: 14px;
                
                i {
                    margin-right: 10px;
                }
                
                a {
                    color: white;
                }

                &:hover a, &:hover i {
                    color: #acd58f;
                    text-decoration: none;
                }
            }    
        }

        .nav-main {
            display: flex;
            justify-content: flex-end;
            align-items: center;  
            list-style: none;
            height: 100%;
            padding: 0;
            margin: 0;
            z-index: 9999;

            @media(max-width: 992px) {
                display: block;
                width: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
            }

            .nav-main-item {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 100%;
                margin: 1px;
                transition: color 0.1s;
                border-bottom: 1px solid transparent;

                .nav-main-link {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    padding: 10px;

                    @media (max-width: 992px) {
                        padding: 20px;
                        padding-right: 0;
                    }
                }

                &:hover {
                    color: var(--highlight-4);
                    border-bottom: 1px solid var(--highlight-4);

                    i {
                        color: var(--highlight-4)!important;
                    }
                }

                &.menu-item-has-children {
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                }

                @media (max-width: 992px) {
                    flex-direction: column;
                    height: auto;
                    width: 100%;
                    color: black;
                    border-bottom: 1px solid #d3d3d3;

                    &:hover {
                        color: var(--primary);
                        border-bottom: 1px solid var(--primary);
    
                        i {
                            color: var(--primary)!important;
                        }
                    }
                }
                
                a {
                    display: inline-block;
                    width: 100%;
                    color: currentColor;
                    font-weight: 700;
                    opacity: 1!important;

                    &:hover {
                        text-decoration: none;
                    }
                }

                p {
                    display: inline-block;
                    width: 100%;
                    color: currentColor;
                    font-weight: 700;
                    opacity: 1!important;
                    margin-bottom: 0;
                    font-size: 1rem;
                }

                i {
                    color: white;
                    margin-left: 10px;

                    @media(max-width: 992px) {
                        color: black;
                        margin-right: 10px;
                    }    
                }

                .nav-drop {
                    display: none;
                    position: absolute;
                    background-color: white;
                    padding-left: 0;
                    border: 1px solid lightgrey;
                    box-shadow: 0 0 10px rgba(0,0,0,.15);
                    top: 100%;
                    list-style: none;
                    min-width: 310px; 
                    z-index: 3;
                    border-radius: 5%;

                    &:before {
                        content:"";
                        position: absolute;
                        left: 45%;
                        bottom: 100%;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent white transparent;
                        z-index:9999;
                    }

                    @media(max-width: 992px) {
                        position: relative;
                        background-color: var(--primary);
                        left: 0%;
                        padding-left: 20px;
                        width: 100%;
                        border-radius: 0;
                        box-shadow: none;
                        
                        &:before {
                            display: none;
                        }
                    }

                    .nav-drop-item {
                        position: relative;
                        border-bottom: 1px solid #d3d3d3;
                        width: 100%;
                        text-align: center;
                        text-transform: none;
                        overflow: hidden;

                        @media(max-width: 992px) {
                            background-color: white;

                            &:hover {
                                background-color: var(--primary);
                            }
                        }

                        &:last-of-type {
                            border: none;
                        }

                        a {
                            display: inline-block;
                            width: 100%;
                            padding: 20px;
                            color: #737373;
                            font-weight: 700!important;


                            &:hover  {
                                color: var(--primary);
                            }

                            @media(max-width: 992px) {

                                &:hover {
                                    color: white!important;
                                }
                            }
                        }
                    }
                }               
            }
        }
    }
}

#site-header-toggle {
    display: none;

    @media(max-width: 992px) {
        display: block;
        position: sticky;
        top: 1%;
        left: 94%;
        z-index: 9999;
        border: none;
        background-color: transparent;
        color: white;
        outline: none;
        z-index: 101;
    }
}

.logo {
    display: flex;
    align-items: center;

    @media(max-width: 992px) {
        justify-content: center;
    }

    @media(max-width: 567px) {
        justify-content: flex-start;
    }

    @media(min-width: 993px) {
        display: flex!important;
    }

    .logo-text {
        margin-bottom: 0;
        font-weight: 900;
        color: white;
        transition: color 0.1s;
        font-size: 20px;

        @media(max-width: 1200px) {
            font-size: 18px;
        }

        @media(max-width: 567px) {
            font-size: 16px;
            text-align: center;
            margin-right: 25px;
        }

        &:hover {
            text-decoration: none;
            color: var(--highlight-4);
        }
    }

    img {
        height: 35px;
        margin-right: 10px;
    }
}

#fade-filter {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color .3s;
    z-index: 95;

    @media(min-width: 992px) {
        display: none!important;
    }
    
    &.fade {
        display: block;
        background-color: rgba(0,0,0,.5);
    }
}