#sub-header {
    background-color: #6479af;
    
    @media(max-width: 992px) {
        display: none;
    }

    .copyright {
        text-align: center;
        height: auto;
        margin-bottom: 0;
        color: white;
        font-size: 14px;
        font-style: italic;

        a {
            color: white;

            &:hover {
                text-decoration: none;
                color: #9c9c9c;
            }
        }

        i {
            margin: 0 10px;
        }
    }
}

#mobile-header {
    display: none;

    @media(max-width: 992px) {
        background-color: #383f51;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        top: 20px; left: 0; right: 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        z-index: 10;
        font-family: 'Lato';
        color: white;
    } 
}

#site-header {
    background-color: #383f51;
	position: fixed;
    display: flex;
    align-items: center;
    height: 50px;
    top: 20px; left: 0; right: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 99;
    font-family: 'Lato';
    color: white;

    @media(max-width: 992px) {
        top: 0;
    }
    
    &.active {
        top: 0;
    }

    .mobile-header {
        display: none;

        @media(max-width: 992px) {
            display: block;
        }
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        right: 0;
        transition: right .3s;
        
        @media(max-width: 992px) {
            position: fixed;
            right: -1000px;
            flex-direction: column;
            top: 0;
            width: 50vw;
            height: 100vh;
            z-index: 99;
            background-color: white;
            padding: 0;
            transition: right .3s;
        }

        @media(max-width: 840px) {
            width: 75vw;
        }

        @media(max-width: 576px) {
            width: 100vw;
        }

        &.expand {
            right: 0;
        }

        .mobile-nav-logo {
            display: none;
            background-color: #383f51;
            max-height: 50px;

            @media(max-width: 992px) {
                display: flex;
                align-items: center;
            }

            .logo-text {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
                font-weight: 900;
                color: white;
                transition: color 0.1s;
                font-size: 20px;
        
                @media(max-width: 1200px) {
                    font-size: 18px;
                }
        
                @media(max-width: 567px) {
                    font-size: 16px;
                    margin-right: 25px;
                    text-align: center;
                }
            }
        
            img {
                height: 35px;
                margin-right: 10px;
            }
        }

        #mobile-menu-footer {
            display: none;
            background-color: #262626;
            color: white;
            padding: 20px;
            width: 100%;

            @media(max-width: 992px) {
                display: block;
            }
    
            .title {
                font-size: 20px;
                font-weight: 700;
            }

            .footer-links {
                
                i {
                    margin-right: 10px;
                }
                
                a {
                    color: white;
                }

                &:hover a, &:hover i {
                    color: #acd58f;
                    text-decoration: none;
                }
            }    
        }

        .nav-main {
            display: flex;
            justify-content: flex-end;
            align-items: center;  
            list-style: none;
            height: 100%;
            padding: 0;
            margin: 0;

            @media(max-width: 992px) {
                display: block;
                width: 100%;
            }

            .nav-main-item {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 100%;
                padding: 10px;
                margin: 1px;
                transition: color 0.1s;
                border-bottom: 3px solid transparent;

                &:hover {
                    border-bottom: 3px solid #acd58f;
                    color: #acd58f;

                    i {
                        color: #acd58f!important;
                    }
                }

                @media (max-width: 992px) {
                    justify-content: space-between;
                    height: auto;
                    width: 100%;
                    color: black;
                    border-bottom: 3px solid #d3d3d3;
                    padding: 20px;
                }
                
                a {
                    color: currentColor;
                    font-weight: 700;
                    opacity: 1!important;

                    &:hover {
                        text-decoration: none;
                    }
                }

                i {
                    color: white;
                    margin-left: 10px;

                    @media(max-width: 992px) {
                        color: black;
                    }    
                }

                .nav-drop {
                    display: none;
                    position: absolute;
                    background-color: var(--secondary);
                    top: 108%;
                    list-style: none;
                    min-width: 310px;
                    padding-left: 0;
                    z-index: 3;
                    border-radius: 5%;

                    @media(max-width: 992px) {
                        position: absolute;
                        background-color:var(--secondary);
                        left: 0%;
                        display: none;
                        width: 100%;
                        border-radius: 0;
                        top: 103%;
                    }

                    .nav-drop-item {
                        position: relative;
                        border-bottom: 1px solid #d3d3d3;
                        width: 100%;
                        text-align: center;
                        text-transform: none;

                        &:last-of-type {
                            border: none;
                        }

                        a {
                            display: inline-block;
                            width: 100%;
                            padding: 20px;
                            color: #737373!important;
                            font-weight: 500!important;

                            &:hover {
                                color: #737373!important;
                            }
                        }
                    }
                }
            }
        }
    }
}

#site-header-toggle {
    display: none;

    @media(max-width: 992px) {
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 9999;
        border: none;
        background-color: transparent;
        color: white;
        outline: none;
    }
}

.logo {
    display: flex;
    align-items: center;

    @media(max-width: 992px) {
        justify-content: center;
    }

    @media(max-width: 567px) {
        justify-content: flex-start;
    }

    .logo-text {
        margin-bottom: 0;
        font-weight: 900;
        color: white;
        transition: color 0.1s;
        font-size: 20px;

        @media(max-width: 1200px) {
            font-size: 18px;
        }

        @media(max-width: 567px) {
            font-size: 16px;
            text-align: center;
            margin-right: 20px;
        }

        &:hover {
            text-decoration: none;
            color: #acd58f;
        }
    }

    img {
        height: 35px;
        margin-right: 10px;
    }
}

#fade-filter {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color .3s;
    z-index: 98;

    @media(min-width: 992px) {
        display: none!important;
    }
    
    &.fade {
        display: block;
        background-color: rgba(0,0,0,.5);
    }
}