.h1 {
    font-size: 40px;
    padding-top: 18px;
    padding-bottom: 15px;
    font-family: 'Lato';
    font-weight: 900;
    line-height: 40px;
}

.h2 {
    font-size: 35px;
    padding-top: 18px;
    padding-bottom: 15px;
    font-family: 'Lato';
    font-weight: 900;
    line-height: 40px;
}

.h3 {
    font-size: 30px;
    padding-top: 18px;
    padding-bottom: 15px;
    font-family: 'Lato';
    font-weight: 900;
    line-height: 40px;
}

.h4 {
    font-size: 25px;
    padding-top: 18px;
    padding-bottom: 15px;
    font-family: 'Lato';
    font-weight: 900;
    line-height: 40px;
}

p {
    font-size: 18px;
}