.faq {
    padding: 70px 0;
    font-family: 'Lato';

    .question {
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 8px;
            width: 100%;
            color: black;
            cursor: pointer;

            &:hover p, &:hover i {
                color: var(--primary);
            }

            p {
                margin-bottom: 0;
                margin-right: 10px;

                span {
                    font-weight: 700!important;
                    font-size: 18px;
                }
            }                    
        }

        .answer {
            display: none;
            padding-top: 15px;

            p {
                margin-left: 25px;
                font-weight: 200!important;
            }
        }
    }
}