.index-list {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Lato';
    max-height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;

    .header {
        
        @media(max-width: 992px) {
            display: flex;
            cursor: pointer;
            justify-content: center;
        }

        .title {
            @media(max-width: 992px) {
                display: none;
            }
        }

        .mobile-title {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            background-color: var(--secondary);
            transition: all 0.3s linear;

            @media(min-width: 993px) {
                display: none;
            }

            i {
                display: inline-block;
                color: var(--primary);
                margin-left: 10px;
    
                @media(min-width: 992px) {
                    display: none;
                }
            }
        }

        p {
            font-size: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-family: 'Lato';
            font-weight: 900;
            line-height: 40px;

            @media(max-width: 992px) {
                font-size: 18px;
                color: var(--primary);
                margin-bottom: 0;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }

    @media(max-width: 992px) {
        position: sticky;
        top: 50px;
        z-index: 99;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: var(--secondary);
    }

    #list {
        width: 100%;
        justify-content: space-between;
              
        @media(max-width: 992px) {
            display: none;
            background-color: var(--secondary);
        }
        
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        a {
            color: black;
            font-size: 16px;
            padding: 5px 0;

            &:hover {
                color: var(--primary);
                text-decoration: none;
            }
        }
    }
}
