.index-list {
    padding: 40px 0;
    background-color: white;
    font-family: 'Lato';

    .list {
        width: 100%;
        
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        a {
            color: black;
            font-size: 16px;
            padding: 5px 0;

            &:hover {
                color: var(--primary);
                text-decoration: none;
            }
        }
    }
}
