.text-area {
    position: relative;
	padding: 40px 0;
    font-family: 'Lato';

    .row-reverse {
        flex-direction: row-reverse;
    }

    .column {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

        &.image-column {
            justify-content: center;
            align-items: center;
        }

        .image {
            position: relative;
            width: 100%;
            padding-top: 90%;

            img {
                position: absolute;
                left: 0; right: 0; top: 0; bottom: 0;
                height: 100%;
                width: 100%;        
                margin: auto;
                object-fit: contain;
            }
        }

        .text {   
            width: 100%;
            font-weight: 300;
            
            p {
                margin-bottom: 0;
            }
            
            a {
                color: currentColor;
                cursor: pointer;
            
                &:hover {
                    color: currentColor;
                    text-decoration: none!;
                }
            }

            hr {
                width: 10%;
                height: 5px;
                background-color: var(--highlight-2);
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 15px;
                border: none;
            }

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    display: flex;
                    align-items: center;
                    font-size: 18px;

                    &:before {
                        content: '✓';
                        color: var(--primary);
                        font-size: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }    
    }
}