/* ACF Styles START */
.hero {
  display: flex;
  justify-content: center;
  min-width: 100%;
  overflow: hidden;
  min-height: 0px;
  max-height: 60vh;
}
.hero img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  filter: blur(5px);
  transform: scale(1.1);
}
.text-area {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Lato';
}
.text-area .row-reverse {
  flex-direction: row-reverse;
}
.text-area .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-area .column.primary-divider hr {
  background-color: var(--primary);
}
.text-area .column.primary-divider li:before {
  color: var(--primary);
}
.text-area .column.highlight-1-divider hr {
  background-color: var(--highlight-1);
}
.text-area .column.highlight-1-divider li:before {
  color: var(--highlight-1);
}
.text-area .column.highlight-2-divider hr {
  background-color: var(--highlight-2);
}
.text-area .column.highlight-2-divider li:before {
  color: var(--highlight-2);
}
.text-area .column.highlight-3-divider hr {
  background-color: var(--highlight-3);
}
.text-area .column.highlight-3-divider li:before {
  color: var(--highlight-3);
}
.text-area .column.highlight-4-divider hr {
  background-color: var(--highlight-4);
}
.text-area .column.highlight-4-divider li:before {
  color: var(--highlight-4);
}
.text-area .column.image-column {
  justify-content: center;
  align-items: center;
}
.text-area .column.image-column .image {
  position: relative;
  width: 100%;
  padding-top: 90%;
}
@media (max-width: 768px) {
  .text-area .column.image-column .image {
    padding-top: 50%;
  }
}
.text-area .column.image-column .image img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: contain;
}
.text-area .column .text {
  width: 100%;
  font-weight: 300;
}
.text-area .column .text p {
  margin-bottom: 0;
}
.text-area .column .text a {
  color: currentColor;
  cursor: pointer;
}
.text-area .column .text a:hover {
  color: currentColor;
  text-decoration: none!;
}
.text-area .column .text hr {
  width: 10%;
  height: 5px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  border: none;
}
.text-area .column .text ul {
  list-style: none;
  padding-left: 0;
}
.text-area .column .text ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.text-area .column .text ul li:before {
  content: '✓';
  font-size: 40px;
  margin-right: 10px;
}
.faq {
  padding: 70px 0;
  font-family: 'Lato';
}
.faq .question {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.faq .question .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  width: 100%;
  color: black;
  cursor: pointer;
}
.faq .question .title:hover p,
.faq .question .title:hover i {
  color: var(--primary);
}
.faq .question .title p {
  margin-bottom: 0;
  margin-right: 10px;
}
.faq .question .title p span {
  font-weight: 700!important;
  font-size: 18px;
}
.faq .question .answer {
  display: none;
  padding-top: 15px;
}
.faq .question .answer p {
  margin-left: 25px;
  font-weight: 200!important;
}
.index-list {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Lato';
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-width: 992px) {
  .index-list .header {
    display: flex;
    cursor: pointer;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .index-list .header .title {
    display: none;
  }
}
.index-list .header .mobile-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: var(--secondary);
  transition: all 0.3s linear;
}
@media (min-width: 993px) {
  .index-list .header .mobile-title {
    display: none;
  }
}
.index-list .header .mobile-title i {
  display: inline-block;
  color: var(--primary);
  margin-left: 10px;
}
@media (min-width: 992px) {
  .index-list .header .mobile-title i {
    display: none;
  }
}
.index-list .header p {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
@media (max-width: 992px) {
  .index-list .header p {
    font-size: 18px;
    color: var(--primary);
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 992px) {
  .index-list {
    position: sticky;
    top: 50px;
    z-index: 99;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--secondary);
  }
}
.index-list #list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .index-list #list {
    display: none;
    background-color: var(--secondary);
  }
}
.index-list #list li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.index-list #list a {
  color: black;
  font-size: 16px;
  padding: 5px 0;
}
.index-list #list a:hover {
  color: var(--primary);
  text-decoration: none;
}
.inner-outer-box {
  padding: 40px 0;
}
.inner-outer-box.background--highlight-2 h3 {
  text-shadow: unset!important;
}
.inner-outer-box.background--highlight-2 p {
  text-shadow: unset!important;
}
.inner-outer-box .inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.inner-outer-box .inner-box .text-container h3 {
  line-height: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.inner-outer-box .inner-box .text-container p {
  line-height: 22px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.inner-outer-box .inner-box .text-container hr {
  width: 10%;
  height: 5px;
  background-color: var(--highlight-2);
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 12px;
  border: none;
}
.inner-outer-box .inner-box .text-container ul {
  list-style: none;
  padding-left: 0;
}
.inner-outer-box .inner-box .text-container ul li {
  display: flex;
  align-items: center;
}
.inner-outer-box .inner-box .text-container ul li:before {
  content: '✓';
  color: black;
  font-size: 30px;
  margin-right: 10px;
}
.inner-outer-box .inner-box.image-right {
  flex-direction: row;
}
.inner-outer-box .inner-box.image-left {
  flex-direction: row-reverse;
}
.inner-outer-box .inner-box .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 25%;
}
@media (max-width: 1200px) {
  .inner-outer-box .inner-box .image-container {
    padding-top: 50%;
  }
}
@media (max-width: 992px) {
  .inner-outer-box .inner-box .image-container {
    padding-top: 80%;
  }
}
.inner-outer-box .inner-box .image-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}
.floating-box {
  background-color: white;
  max-height: 20%;
  font-family: 'Lato';
}
@media (max-width: 992px) {
  .floating-box {
    max-height: 100%;
  }
}
.floating-box .floating-text {
  background-color: white;
  margin-top: -20%;
  padding-top: 15px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  border-radius: 8px;
}
.floating-box .floating-text hr {
  width: 50%;
  height: 5px;
  background-color: var(--primary);
  margin-top: 0;
  margin-bottom: 15px;
  border: none;
}
.floating-box .floating-text .text-container {
  padding: 20px;
}
.floating-box .floating-text .text-container h1 {
  margin-bottom: 20px!important;
}
.floating-box .right {
  display: flex;
  justify-content: center;
  margin-top: -20%;
}
@media (max-width: 991px) {
  .floating-box .right {
    margin-top: 40px;
  }
}
.floating-box .right .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-height: 500px;
  max-width: 500px;
}
@media (max-width: 576px) {
  .floating-box .right .card {
    max-height: 100%;
  }
}
.floating-box .right .card .top-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.6rem 3rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0 0 0%);
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.floating-box .right .card .top-area p {
  margin: 0;
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px rgb(0 0 0%);
}
.floating-box .right .card .top-area i {
  margin-right: 10px;
}
.floating-box .right .card .image-container {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--secondary);
}
.floating-box .right .card .image-container img {
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
}
.floating-box .right .card .text-container {
  padding: 20px;
}
.floating-box .right .card .text-container p {
  font-size: 16px;
  font-weight: 200;
}
.floating-box .right .card .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.floating-box .right .card .button-container .primary-button {
  max-width: 200px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .floating-box .right .card .button-container .primary-button {
    margin-top: 20px;
  }
}
.floating-box .right .card .button-container .primary-button i {
  margin-right: 10px;
}
.programs-area {
  font-family: 'Lato';
  padding-top: 40px;
  padding-bottom: 40px;
}
.programs-area .filter-area {
  padding-bottom: 20px;
}
.programs-area .filter-area .warning {
  margin: 40px;
}
.programs-area .filter-area .warning .warning-text {
  display: flex;
  justify-content: center;
}
.programs-area .filter-area .warning .warning-text .image-container {
  position: relative;
  width: 100%;
  padding-top: 4%;
}
.programs-area .filter-area .warning .warning-text .image-container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.programs-area .filter-area .warning .warning-text .text .warning-title {
  margin-bottom: 0;
  font-weight: 700;
}
.programs-area .filter-area .warning .warning-text .text p {
  font-size: 14px;
}
.programs-area .filter-area .filter-interface {
  display: flex;
  justify-content: space-evenly;
}
.programs-area .filter-area .filter-interface button {
  margin: 5px;
}
.programs-area .filter-area .filter-interface button i {
  margin-right: 5px;
}
@media (max-width: 576px) {
  .programs-area .filter-area .filter-interface {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .programs-area .filter-area .filter-interface .filter-choises {
    margin-top: 20px;
  }
}
.programs-area .filter-area .filter-interface .filter-choises .filter-choice {
  font-size: 18px;
  margin-right: 20px;
  word-break: break-all;
}
.programs-area .filter-area .filter-interface .filter-choises .filter-choice input {
  margin-right: 10px;
}
.programs-area .programs {
  position: relative;
}
.programs-area .programs .program {
  border: 1px solid var(--secondary);
  background-color: #f8f8f9;
  height: 100%;
}
.programs-area .programs .program.hide {
  display: none;
}
.programs-area .programs .program .fa-times {
  color: red;
  width: 14px;
  height: 14px;
}
.programs-area .programs .program .fa-check {
  color: green;
  width: 14px;
  height: 14px;
}
.programs-area .programs .program .fa-question {
  color: orange;
  width: 14px;
  height: 14px;
}
.programs-area .programs .program .program-upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
  min-height: 130px;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper {
    padding-bottom: 20px!important;
  }
}
.programs-area .programs .program .program-upper .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .feature {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary);
  }
}
.programs-area .programs .program .program-upper .feature p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .feature p {
    font-size: 18px;
  }
}
.programs-area .programs .program .program-upper .feature .subtitle {
  font-weight: 400;
  font-size: 12px;
}
.programs-area .programs .program .program-upper .feature.extra {
  flex-direction: row;
}
.programs-area .programs .program .program-upper .feature.extra p {
  margin-bottom: 0;
  font-size: 14px;
}
.programs-area .programs .program .program-upper .feature.extra p.token {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.programs-area .programs .program .program-upper .image-container {
  position: relative;
  width: 10%;
  padding-top: 6%;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .image-container {
    padding-top: 20%;
    margin: 20px 0;
  }
}
@media (max-width: 992px) {
  .programs-area .programs .program .program-upper .image-container {
    padding-top: 20%;
    margin: 20px 0;
  }
}
.programs-area .programs .program .program-upper .image-container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.programs-area .programs .program .program-lower {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.programs-area .programs .program .program-lower .more-information {
  margin: 20px 0;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: inherit;
  color: var(--primary);
  outline: none;
}
.programs-area .programs .program .program-lower .program-features {
  display: none;
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}
.programs-area .programs .program .program-lower .program-features li {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin: 5px 0;
  background-color: var(--secondary);
}
.programs-area .programs .program .program-lower .program-features li .feature-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 576px) {
  .programs-area .programs .program .program-lower .program-features li .feature-name {
    justify-content: center;
    align-items: center;
  }
}
.programs-area .programs .program .program-lower .program-features li .feature-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
@media (max-width: 576px) {
  .programs-area .programs .program .program-lower .program-features li .feature-value {
    justify-content: center;
    align-items: center;
  }
}
.programs-area .programs .program .program-lower .program-features li i {
  margin-right: 10px;
}
.programs-area .programs .program .program-lower .program-features li .example {
  font-size: 14px!important;
}
.programs-area .programs .program .program-lower .program-features li .warning {
  font-size: 16px;
  font-weight: 700;
}
.programs-area .programs .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.example-cards {
  padding: 40px 0;
  font-family: 'Lato';
}
.example-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: black;
  margin: 10px!important;
}
.example-cards .card .primary-button {
  width: 100%;
  text-align: center;
}
.example-cards .card p {
  font-size: 16px!important;
}
.example-cards .card ul {
  list-style: none;
  padding-left: 0;
}
.example-cards .card ul li {
  display: flex;
  align-items: center;
  font-size: 16px!important;
}
.example-cards .card ul li:before {
  content: '✓';
  color: black;
  font-size: 20px;
  margin-right: 10px;
}
/* ACF Styles END */
/* PARTIALS Styles START */
:root {
  --primary: #1780cf;
  --secondary: #ebe8e8;
  --highlight-1: #5AE4A7;
  --highlight-2: #FF735C;
  --highlight-3: #B35AAE;
  --highlight-4: #FFC801;
  --supplementary: #FFFFF3;
}
.background--white {
  background-color: white;
}
.background--primary {
  background-color: var(--primary);
}
.background--secondary {
  background-color: var(--secondary);
}
.background--highlight-1 {
  background-color: var(--highlight-1);
}
.background--highlight-2 {
  background-color: var(--highlight-2);
}
.background--supplementary {
  background-color: var(--supplementary);
}
.background--blue {
  background-color: #265aa9;
}
.text--black {
  color: black;
}
.text--white {
  color: white;
}
.text--primary {
  color: var(--primary);
}
.text--secondary {
  color: var(--secondary);
}
.text--highlight-1 {
  color: var(--highlight-1);
}
.text--highlight-2 {
  color: var(--highlight-2);
}
.text--supplementary {
  color: var(--supplementary);
}
.h1 {
  font-size: 40px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
.h2 {
  font-size: 35px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
.h3 {
  font-size: 30px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
.h4 {
  font-size: 25px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
p {
  font-size: 18px;
}
.primary-button {
  color: white;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  outline: none !important;
  border: none;
  padding: 0;
  border-radius: 2.625rem;
}
.primary-button:hover {
  color: white!important;
  transition: all 0.2s 0s;
  text-decoration: none;
}
.primary-button:after {
  content: "";
  position: absolute;
  border-radius: 2.625rem;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 5px 5px #29a64f;
}
.primary-button > .text {
  position: relative;
  border-radius: 2.625rem;
  display: block;
  padding: 10px 25px;
  border: 2px solid currentColor;
  z-index: 1;
  border: none;
  background-color: #00cf70;
  transition: transform 0.25s;
}
.primary-button > .text:hover {
  transform: translate(2px, 2px);
  color: white;
}
.card-button {
  border: none;
  outline: none;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.card-button:hover {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
.card-button a {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 30px;
}
.card-button a:hover {
  text-decoration: none;
  color: white;
}
.site-footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 0;
  background-color: #262626;
  color: white;
  font-family: 'Lato';
}
.site-footer ul {
  list-style: none;
  padding-left: 0;
}
.site-footer ul li:before {
  content: "\f0da";
  font-family: Font Awesome\ 5 Free Solid;
  margin-right: 10px;
  font-size: 20px;
}
.site-footer ul li a {
  font-size: 18px;
  color: white;
}
.site-footer ul li a:hover {
  color: #4398d9;
  text-decoration: none;
}
.site-footer .widget-title {
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
}
.site-footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3c3c;
  margin-top: 40px;
}
.site-footer .copyright p {
  margin-bottom: 0;
  color: #9c9c9c;
  font-size: 14px!important;
}
.site-footer .copyright p span {
  display: inline-block;
}
.site-footer .copyright p i {
  margin-left: 10px;
  margin-right: 10px;
}
.site-footer .copyright p a {
  color: #9c9c9c;
  margin-left: 10px;
  display: inline-block;
}
.site-footer .copyright p a:hover {
  color: #9c9c9c;
}
#sub-header {
  background-color: #33668d;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
#sub-header p {
  margin-bottom: 0;
  color: white;
  font-size: 14px!important;
  font-style: italic;
}
#sub-header p i {
  margin-left: 10px;
  margin-right: 10px;
}
#sub-header p a {
  color: white;
  margin-left: 10px;
  font-style: italic;
}
#sub-header p a:hover {
  color: white;
}
@media (max-width: 992px) {
  #sub-header {
    display: none;
  }
}
#mobile-header {
  display: none;
}
@media (max-width: 992px) {
  #mobile-header {
    background-color: var(--primary);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    top: 20px;
    left: 0;
    right: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 10;
    font-family: 'Lato';
    color: white;
  }
}
#site-header {
  background-color: var(--primary);
  position: fixed;
  display: flex;
  align-items: center;
  height: 50px;
  top: 20px;
  left: 0;
  right: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 100;
  font-family: 'Lato';
  color: white;
  transition: top 0.1s linear;
}
@media (max-width: 992px) {
  #site-header {
    top: 0!important;
  }
}
#site-header .nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  right: 0;
  transition: right 0.3s;
  z-index: 110;
}
@media (max-width: 992px) {
  #site-header .nav-menu {
    position: fixed;
    right: -1000px;
    flex-direction: column;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 99;
    background-color: white;
    padding: 0;
    transition: right 0.3s;
    z-index: 101;
  }
}
@media (max-width: 840px) {
  #site-header .nav-menu {
    width: 75vw;
  }
}
@media (max-width: 576px) {
  #site-header .nav-menu {
    width: 100vw;
  }
}
#site-header .nav-menu.expand {
  right: 0;
  z-index: 101;
}
#site-header .nav-menu .mobile-nav-logo {
  display: none;
  background-color: var(--primary);
  max-height: 50px;
}
@media (max-width: 992px) {
  #site-header .nav-menu .mobile-nav-logo {
    display: flex;
    align-items: center;
  }
}
#site-header .nav-menu .mobile-nav-logo .logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-weight: 900;
  color: white;
  transition: color 0.1s;
  font-size: 20px;
}
@media (max-width: 1200px) {
  #site-header .nav-menu .mobile-nav-logo .logo-text {
    font-size: 18px;
  }
}
@media (max-width: 567px) {
  #site-header .nav-menu .mobile-nav-logo .logo-text {
    font-size: 16px;
    margin-right: 25px;
    text-align: center;
  }
}
#site-header .nav-menu .mobile-nav-logo img {
  height: 35px;
  margin-right: 10px;
}
#site-header .nav-menu #mobile-menu-footer {
  display: none;
  background-color: #262626;
  color: white;
  padding: 20px;
  width: 100%;
}
@media (max-width: 992px) {
  #site-header .nav-menu #mobile-menu-footer {
    display: block;
  }
}
#site-header .nav-menu #mobile-menu-footer .title {
  font-size: 16px;
  font-weight: 700;
}
#site-header .nav-menu #mobile-menu-footer .footer-links {
  font-size: 14px;
}
#site-header .nav-menu #mobile-menu-footer .footer-links i {
  margin-right: 10px;
}
#site-header .nav-menu #mobile-menu-footer .footer-links a {
  color: white;
}
#site-header .nav-menu #mobile-menu-footer .footer-links:hover a,
#site-header .nav-menu #mobile-menu-footer .footer-links:hover i {
  color: #acd58f;
  text-decoration: none;
}
#site-header .nav-menu .nav-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 9999;
}
@media (max-width: 992px) {
  #site-header .nav-menu .nav-main {
    display: block;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
#site-header .nav-menu .nav-main .nav-main-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  margin: 1px;
  transition: color 0.1s;
  border-bottom: 1px solid transparent;
}
#site-header .nav-menu .nav-main .nav-main-item .nav-main-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 10px;
}
@media (max-width: 992px) {
  #site-header .nav-menu .nav-main .nav-main-item .nav-main-link {
    padding: 20px;
    padding-right: 0;
  }
}
#site-header .nav-menu .nav-main .nav-main-item:hover {
  color: var(--highlight-4);
  border-bottom: 1px solid var(--highlight-4);
}
#site-header .nav-menu .nav-main .nav-main-item:hover i {
  color: var(--highlight-4) !important;
}
#site-header .nav-menu .nav-main .nav-main-item.menu-item-has-children {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
@media (max-width: 992px) {
  #site-header .nav-menu .nav-main .nav-main-item {
    flex-direction: column;
    height: auto;
    width: 100%;
    color: black;
    border-bottom: 1px solid #d3d3d3;
  }
  #site-header .nav-menu .nav-main .nav-main-item:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
  }
  #site-header .nav-menu .nav-main .nav-main-item:hover i {
    color: var(--primary) !important;
  }
}
#site-header .nav-menu .nav-main .nav-main-item a {
  display: inline-block;
  width: 100%;
  color: currentColor;
  font-weight: 700;
  opacity: 1!important;
}
#site-header .nav-menu .nav-main .nav-main-item a:hover {
  text-decoration: none;
}
#site-header .nav-menu .nav-main .nav-main-item p {
  display: inline-block;
  width: 100%;
  color: currentColor;
  font-weight: 700;
  opacity: 1!important;
  margin-bottom: 0;
  font-size: 1rem;
}
#site-header .nav-menu .nav-main .nav-main-item i {
  color: white;
  margin-left: 10px;
}
@media (max-width: 992px) {
  #site-header .nav-menu .nav-main .nav-main-item i {
    color: black;
    margin-right: 10px;
  }
}
#site-header .nav-menu .nav-main .nav-main-item .nav-drop {
  display: none;
  position: absolute;
  background-color: white;
  padding-left: 0;
  border: 1px solid lightgrey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  top: 100%;
  list-style: none;
  min-width: 310px;
  z-index: 3;
  border-radius: 5%;
}
#site-header .nav-menu .nav-main .nav-main-item .nav-drop:before {
  content: "";
  position: absolute;
  left: 45%;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  z-index: 9999;
}
@media (max-width: 992px) {
  #site-header .nav-menu .nav-main .nav-main-item .nav-drop {
    position: relative;
    background-color: var(--primary);
    left: 0%;
    padding-left: 20px;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  #site-header .nav-menu .nav-main .nav-main-item .nav-drop:before {
    display: none;
  }
}
#site-header .nav-menu .nav-main .nav-main-item .nav-drop .nav-drop-item {
  position: relative;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  text-align: center;
  text-transform: none;
  overflow: hidden;
}
@media (max-width: 992px) {
  #site-header .nav-menu .nav-main .nav-main-item .nav-drop .nav-drop-item {
    background-color: white;
  }
  #site-header .nav-menu .nav-main .nav-main-item .nav-drop .nav-drop-item:hover {
    background-color: var(--primary);
  }
}
#site-header .nav-menu .nav-main .nav-main-item .nav-drop .nav-drop-item:last-of-type {
  border: none;
}
#site-header .nav-menu .nav-main .nav-main-item .nav-drop .nav-drop-item a {
  display: inline-block;
  width: 100%;
  padding: 20px;
  color: #737373;
  font-weight: 700!important;
}
#site-header .nav-menu .nav-main .nav-main-item .nav-drop .nav-drop-item a:hover {
  color: var(--primary);
}
@media (max-width: 992px) {
  #site-header .nav-menu .nav-main .nav-main-item .nav-drop .nav-drop-item a:hover {
    color: white!important;
  }
}
#site-header-toggle {
  display: none;
}
@media (max-width: 992px) {
  #site-header-toggle {
    display: block;
    position: sticky;
    top: 1%;
    left: 94%;
    z-index: 9999;
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    z-index: 101;
  }
}
.logo {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .logo {
    justify-content: center;
  }
}
@media (max-width: 567px) {
  .logo {
    justify-content: flex-start;
  }
}
@media (min-width: 993px) {
  .logo {
    display: flex!important;
  }
}
.logo .logo-text {
  margin-bottom: 0;
  font-weight: 900;
  color: white;
  transition: color 0.1s;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .logo .logo-text {
    font-size: 18px;
  }
}
@media (max-width: 567px) {
  .logo .logo-text {
    font-size: 16px;
    text-align: center;
    margin-right: 25px;
  }
}
.logo .logo-text:hover {
  text-decoration: none;
  color: var(--highlight-4);
}
.logo img {
  height: 35px;
  margin-right: 10px;
}
#fade-filter {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
  z-index: 95;
}
@media (min-width: 992px) {
  #fade-filter {
    display: none!important;
  }
}
#fade-filter.fade {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
/* PARTIALS Styles END */
