/* ACF Styles START */
.hero {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 100%;
  min-height: 40vh;
}
.hero img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.hero .floating-box {
  max-width: 60%;
  z-index: 30;
  padding: 10px;
  background-color: white;
}
.text-area {
  position: relative;
  width: 100%;
  padding: 20px 0;
  font-family: 'Lato';
}
.text-area .row-reverse {
  flex-direction: row-reverse;
}
.text-area .column {
  display: flex;
  flex-direction: column;
}
.text-area .column.image-column {
  justify-content: center;
  align-items: center;
}
.text-area .column .image {
  position: relative;
  width: 100%;
  padding-top: 90%;
}
.text-area .column .image img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.text-area .column .text {
  width: 100%;
  font-weight: 300;
}
.text-area .column .text a {
  color: currentColor;
  cursor: pointer;
}
.text-area .column .text a:hover {
  color: currentColor;
  text-decoration: none!;
}
.text-area .column .text hr {
  width: 10%;
  height: 5px;
  background-color: var(--highlight-2);
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 12px;
  border: none;
}
.text-area .column .text ul {
  list-style: none;
  padding-left: 0;
}
.text-area .column .text ul li {
  font-size: 18px;
}
.text-area .column .text ul li:before {
  content: '✓';
  color: var(--primary);
  font-size: 40px;
  margin-right: 10px;
}
.faq {
  padding: 70px 0;
  font-family: 'Lato';
}
.faq .question {
  padding: 3px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
}
.faq .question .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  width: 100%;
  color: black;
  cursor: pointer;
}
.faq .question .title:hover p,
.faq .question .title:hover i {
  color: var(--primary);
}
.faq .question .title p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300!important;
}
.faq .question .answer {
  display: none;
  padding-top: 15px;
}
.faq .question .answer p {
  margin-left: 25px;
  font-weight: 400!important;
}
.index-list {
  padding: 40px 0;
  background-color: white;
  font-family: 'Lato';
}
.index-list .list {
  width: 100%;
}
.index-list .list ol {
  padding-left: 0;
}
.index-list .list li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.index-list .list i {
  margin-right: 10px;
}
.index-list .list a {
  color: black;
  font-size: 16px;
  padding: 5px 0;
}
.index-list .list a:hover {
  color: var(--highlight-2);
  text-decoration: none;
}
.inner-outer-box {
  padding: 20px 0;
}
.inner-outer-box .inner-box {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.inner-outer-box .inner-box .text-container h3 {
  line-height: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.inner-outer-box .inner-box .text-container p {
  line-height: 22px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.inner-outer-box .inner-box .text-container hr {
  width: 10%;
  height: 5px;
  background-color: var(--highlight-2);
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 12px;
  border: none;
}
.inner-outer-box .inner-box.image-right {
  flex-direction: row;
}
.inner-outer-box .inner-box.image-left {
  flex-direction: row-reverse;
}
.inner-outer-box .inner-box .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 25%;
}
.inner-outer-box .inner-box .image-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}
.floating-box {
  background-color: white;
  max-height: 20%;
  font-family: 'Lato';
}
@media (max-width: 992px) {
  .floating-box {
    max-height: 100%;
  }
}
.floating-box .text {
  background-color: white;
  margin-top: -20%;
  padding-top: 40px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  font-weight: 300;
}
.floating-box .text p {
  font-size: 16px!important;
}
@media (max-width: 992px) {
  .floating-box .text {
    margin-top: -50%;
  }
}
@media (max-width: 576px) {
  .floating-box .text {
    margin-top: -50%;
  }
}
.programs-area {
  font-family: 'Lato';
}
.programs-area .filter-area {
  padding-bottom: 20px;
}
.programs-area .filter-area .warning {
  padding-top: 20px;
}
.programs-area .filter-area .warning .warning-text {
  display: flex;
  justify-content: center;
}
.programs-area .filter-area .warning .warning-text .image-container {
  position: relative;
  width: 100%;
  padding-top: 4%;
}
.programs-area .filter-area .warning .warning-text .image-container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.programs-area .filter-area .warning .warning-text .text .warning-title {
  margin-bottom: 0;
  font-weight: 700;
}
.programs-area .filter-area .warning .warning-text .text p {
  font-size: 14px;
}
.programs-area .filter-area .filter-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.programs-area .filter-area .filter-buttons button {
  margin-bottom: 10px;
}
.programs-area .filter-area .filter-buttons button i {
  margin-right: 10px;
}
.programs-area .filter-area .filter-choice {
  font-size: 18px;
  margin-right: 20px;
}
.programs-area .filter-area .filter-choice input {
  margin-right: 10px;
}
.programs-area .programs {
  position: relative;
}
.programs-area .programs .program {
  border: 1px solid var(--secondary);
  background-color: #f8f8f9;
  height: 100%;
}
.programs-area .programs .program.hide {
  display: none;
}
.programs-area .programs .program .fa-times {
  color: red;
  width: 14px;
  height: 14px;
}
.programs-area .programs .program .fa-check {
  color: green;
  width: 14px;
  height: 14px;
}
.programs-area .programs .program .program-upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
  min-height: 130px;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper {
    padding-bottom: 20px!important;
  }
}
.programs-area .programs .program .program-upper .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .feature {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary);
  }
}
.programs-area .programs .program .program-upper .feature p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .feature p {
    font-size: 18px;
  }
}
.programs-area .programs .program .program-upper .feature .subtitle {
  font-weight: 400;
  font-size: 12px;
}
.programs-area .programs .program .program-upper .feature.extra {
  flex-direction: row;
}
.programs-area .programs .program .program-upper .feature.extra p {
  margin-bottom: 0;
  font-size: 14px;
}
.programs-area .programs .program .program-upper .feature.extra p.token {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.programs-area .programs .program .program-upper .image-container {
  position: relative;
  width: 10%;
  padding-top: 6%;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .image-container {
    padding-top: 20%;
    margin: 20px 0;
  }
}
@media (max-width: 992px) {
  .programs-area .programs .program .program-upper .image-container {
    padding-top: 20%;
    margin: 20px 0;
  }
}
.programs-area .programs .program .program-upper .image-container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.programs-area .programs .program .program-lower {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.programs-area .programs .program .program-lower .more-information {
  margin: 20px 0;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: inherit;
  color: #2aaef0;
  outline: none;
}
.programs-area .programs .program .program-lower .program-features {
  display: none;
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}
.programs-area .programs .program .program-lower .program-features li {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin: 5px 0;
  background-color: var(--secondary);
}
.programs-area .programs .program .program-lower .program-features li .feature-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 576px) {
  .programs-area .programs .program .program-lower .program-features li .feature-name {
    justify-content: center;
    align-items: center;
  }
}
.programs-area .programs .program .program-lower .program-features li .feature-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
@media (max-width: 576px) {
  .programs-area .programs .program .program-lower .program-features li .feature-value {
    justify-content: center;
    align-items: center;
  }
}
.programs-area .programs .program .program-lower .program-features li i {
  margin-right: 10px;
}
.programs-area .programs .program .program-lower .program-features li .example {
  font-size: 14px!important;
}
.programs-area .programs .program .program-lower .program-features li .warning {
  font-size: 16px;
  font-weight: 700;
}
.programs-area .programs .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-cards {
  padding: 40px 0;
  font-family: 'Lato';
}
.example-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: var(--primary);
  color: white;
}
.example-cards .card p {
  font-size: 16px!important;
}
.example-cards .card ul {
  list-style: none;
  padding-left: 0;
}
.example-cards .card ul li {
  font-size: 16px!important;
}
.example-cards .card ul li:before {
  content: '✓';
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
/* ACF Styles END */
/* PARTIALS Styles START */
:root {
  --primary: #808A9F;
  --secondary: #ebe8e8;
  --highlight-1: #6BBF59;
  --highlight-2: #e9640c;
  --supplementary: #FFFFF3;
}
.background--white {
  background-color: white;
}
.background--primary {
  background-color: var(--primary);
}
.background--secondary {
  background-color: var(--secondary);
}
.background--highlight-1 {
  background-color: var(--highlight-1);
}
.background--highlight-2 {
  background-color: var(--highlight-2);
}
.background--supplementary {
  background-color: var(--supplementary);
}
.background--blue {
  background-color: #265aa9;
}
.text--black {
  color: black;
}
.text--white {
  color: white;
}
.text--primary {
  color: var(--primary);
}
.text--secondary {
  color: var(--secondary);
}
.text--highlight-1 {
  color: var(--highlight-1);
}
.text--highlight-2 {
  color: var(--highlight-2);
}
.text--supplementary {
  color: var(--supplementary);
}
.h1 {
  font-size: 40px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
.h2 {
  font-size: 35px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
.h3 {
  font-size: 30px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
.h4 {
  font-size: 25px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: 'Lato';
  font-weight: 900;
  line-height: 40px;
}
p {
  font-size: 18px;
}
.primary-button {
  color: white;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  outline: none !important;
  border: none;
  padding: 0;
  border-radius: 2.625rem;
}
.primary-button:hover {
  color: white;
  transition: all 0.2s 0s;
  text-decoration: none;
}
.primary-button:after {
  content: "";
  position: absolute;
  border-radius: 2.625rem;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 5px 5px #29a64f;
}
.primary-button .text {
  position: relative;
  border-radius: 2.625rem;
  display: block;
  padding: 10px 25px;
  border: 2px solid currentColor;
  z-index: 1;
  border: none;
  background-color: #00cf70;
  transition: transform 0.25s;
}
.primary-button .text:hover {
  transform: translate(2px, 2px);
  color: black;
}
html {
  scroll-behavior: smooth;
}
.site-footer {
  position: relative;
  padding: 40px 0;
  background-color: var(--secondary);
  height: 50vh;
  font-family: 'Lato';
}
.site-footer .footer-background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.site-footer ul {
  list-style: none;
  padding-left: 0;
}
.site-footer ul li a {
  font-size: 18px;
}
.site-footer ul li a:hover {
  color: var(--primary);
  text-decoration: none;
}
#site-header {
  background-color: rgba(128, 138, 159, 0.4);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 10;
  font-family: 'Lato';
  color: var(--secondary);
  transition: all 1s;
}
#site-header.active {
  background-color: rgba(128, 138, 159, 0.8);
}
#site-header.expand {
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  color: var(--secondary);
  background-color: rgba(128, 138, 159, 0.8);
  position: fixed;
  height: 100%;
  width: 100vw;
  max-width: 100%;
}
#site-header .nav-menu .nav-main {
  display: flex;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 1200px) {
  #site-header .nav-menu .nav-main {
    display: none;
    margin-left: 40px;
  }
}
#site-header .nav-menu .nav-main .nav-main-item {
  position: relative;
  display: block;
  height: 100%;
  padding-right: 1rem;
}
@media (max-width: 1200px) {
  #site-header .nav-menu .nav-main .nav-main-item {
    height: auto;
    width: 100%;
  }
}
#site-header .nav-menu .nav-main .nav-main-item a {
  color: currentColor;
  font-weight: 500;
}
#site-header .nav-menu .nav-main .nav-main-item a:hover {
  text-decoration: none;
}
#site-header .nav-menu .nav-main .nav-main-item .toggle-nav-drop {
  border: 0;
  background-color: inherit;
  outline: none;
}
#site-header .nav-menu .nav-main .nav-main-item .toggle-nav-drop i {
  color: white;
}
@media (max-width: 1200px) {
  #site-header .nav-menu .nav-main .nav-main-item .toggle-nav-drop i {
    color: black;
  }
}
#site-header .nav-menu .nav-main .nav-main-item .nav-drop {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 100%;
  list-style: none;
  min-width: 310px;
  padding: 10px;
  z-index: 3;
}
@media (max-width: 1200px) {
  #site-header .nav-menu .nav-main .nav-main-item .nav-drop {
    position: absolute;
    background-color: white;
    left: 0%;
    display: none;
    width: 100%;
  }
}
#site-header .nav-menu .nav-main .nav-main-item .nav-drop .nav-drop-item {
  margin-left: 10px;
}
#site-header #site-header-toggle {
  position: relative;
  width: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 12;
  display: none;
}
@media (max-width: 1200px) {
  #site-header #site-header-toggle {
    display: block!important;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
#site-header #site-header-toggle.active .inactive {
  opacity: 0;
}
#site-header #site-header-toggle.active .active {
  opacity: 1;
}
#site-header #site-header-toggle .inactive,
#site-header #site-header-toggle .active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: opacity 0.33s;
}
#site-header #site-header-toggle .inactive {
  width: calc(100% - 25px);
}
#site-header #site-header-toggle .active {
  width: calc(100% - 35px);
  opacity: 0;
  transform: rotate(46deg);
}
/* PARTIALS Styles END */
