<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="column col-md-4 col-12">{{ footer_menu_1 }}</div>
            <div class="column col-md-4 col-12">{{ footer_menu_2 }}</div>
            <div class="column col-md-4 col-12">{{ footer_menu_3 }}</div>
        </div>
    </div>
    <div class="copyright">
        <p>Sms lån som beviljar alla - En jämförelsetjänst från <span>TribuSoft AB</span><a href="tel:076 869 50 60">|<i class="fas fa-phone"></i>076 869 50 60</a> <a href="mailto:alexander@tribusoft.se">|<i class="fas fa-envelope-open-text"></i>alexander@tribusoft.se</a></p>
    </div>
</footer>