<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="column col-md-4 col-12">{{ footer_menu_1 }}</div>
            <div class="column col-md-4 col-12">{{ footer_menu_2 }}</div>
            <div class="column col-md-4 col-12">{{ footer_menu_3 }}</div>
        </div>
    </div>
    <div class="copyright">
        <div class="container-fluid">
             <p>Sms lån som beviljar alla - En jämförelsetjänst från TribuSoft AB &nbsp; | <i class="fas fa-phone"></i><a href="tel:076 869 50 60">076 869 50 60</a>&nbsp;<i class="fas fa-envelope-open-text"></i><a href="mailto:alexander@tribusoft.se">alexander@tribusoft.se</a></p>
        </div>
    </div>
</footer>