.example-cards {
  padding: 40px 0;
  font-family: 'Lato';
}
.example-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: var(--primary);
  color: white;
}
.example-cards .card p {
  font-size: 16px!important;
}
.example-cards .card ul {
  list-style: none;
  padding-left: 0;
}
.example-cards .card ul li {
  font-size: 16px!important;
}
.example-cards .card ul li:before {
  content: '✓';
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
