.faq {
  padding: 70px 0;
  font-family: 'Lato';
}
.faq .question {
  padding: 3px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.faq .question .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  width: 100%;
  color: black;
  cursor: pointer;
}
.faq .question .title:hover p,
.faq .question .title:hover i {
  color: var(--primary);
}
.faq .question .title p {
  margin-bottom: 0;
}
.faq .question .title p span {
  font-weight: 700!important;
  font-size: 18px;
}
.faq .question .answer {
  display: none;
  padding-top: 15px;
}
.faq .question .answer p {
  margin-left: 25px;
  font-weight: 200!important;
}
