.floating-box {
  background-color: white;
  max-height: 20%;
  font-family: 'Lato';
}
@media (max-width: 992px) {
  .floating-box {
    max-height: 100%;
  }
}
.floating-box .floating-text {
  background-color: white;
  margin-top: -20%;
  padding-top: 15px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  border-radius: 8px;
}
.floating-box .floating-text hr {
  width: 50%;
  height: 5px;
  background-color: var(--primary);
  margin-top: 0;
  margin-bottom: 15px;
  border: none;
}
.floating-box .floating-text .text-container {
  padding: 20px;
}
.floating-box .floating-text .text-container h1 {
  margin-bottom: 20px!important;
}
.floating-box .floating-text .text-container p {
  font-size: 16px!important;
}
.floating-box .right {
  display: flex;
  justify-content: center;
  margin-top: -20%;
}
@media (max-width: 991px) {
  .floating-box .right {
    margin-top: 40px;
  }
}
.floating-box .right .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 100%;
  max-width: 500px;
}
.floating-box .right .card .top-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.6rem 3rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0 0 0%);
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.floating-box .right .card .top-area p {
  margin: 0;
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px rgb(0 0 0%);
}
.floating-box .right .card .top-area i {
  margin-right: 10px;
}
.floating-box .right .card .image-container {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--secondary);
}
.floating-box .right .card .image-container img {
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
}
.floating-box .right .card .text-container {
  padding: 20px;
}
.floating-box .right .card .text-container p {
  font-size: 16px;
  font-weight: 200;
}
.floating-box .right .card .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.floating-box .right .card .button-container .primary-button {
  max-width: 200px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .floating-box .right .card .button-container .primary-button {
    margin-top: 20px;
  }
}
.floating-box .right .card .button-container .primary-button i {
  margin-right: 10px;
}
