.index-list {
  padding: 40px 0;
  background-color: white;
  font-family: 'Lato';
}
.index-list .list {
  width: 100%;
}
.index-list .list li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.index-list .list a {
  color: black;
  font-size: 16px;
  padding: 5px 0;
}
.index-list .list a:hover {
  color: var(--primary);
  text-decoration: none;
}
