.programs-area {
  font-family: 'Lato';
}
.programs-area .filter-area {
  padding-bottom: 20px;
}
.programs-area .filter-area .warning {
  margin: 40px;
}
.programs-area .filter-area .warning .warning-text {
  display: flex;
  justify-content: center;
}
.programs-area .filter-area .warning .warning-text .image-container {
  position: relative;
  width: 100%;
  padding-top: 4%;
}
.programs-area .filter-area .warning .warning-text .image-container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.programs-area .filter-area .warning .warning-text .text .warning-title {
  margin-bottom: 0;
  font-weight: 700;
}
.programs-area .filter-area .warning .warning-text .text p {
  font-size: 14px;
}
.programs-area .filter-area .filter-interface {
  display: flex;
  justify-content: space-evenly;
}
.programs-area .filter-area .filter-interface button {
  margin: 5px;
}
.programs-area .filter-area .filter-interface button i {
  margin-right: 5px;
}
@media (max-width: 576px) {
  .programs-area .filter-area .filter-interface {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .programs-area .filter-area .filter-interface .filter-choises {
    margin-top: 20px;
  }
}
.programs-area .filter-area .filter-interface .filter-choises .filter-choice {
  font-size: 18px;
  margin-right: 20px;
}
.programs-area .filter-area .filter-interface .filter-choises .filter-choice input {
  margin-right: 10px;
}
.programs-area .programs {
  position: relative;
}
.programs-area .programs .program {
  border: 1px solid var(--secondary);
  background-color: #f8f8f9;
  height: 100%;
}
.programs-area .programs .program.hide {
  display: none;
}
.programs-area .programs .program .fa-times {
  color: red;
  width: 14px;
  height: 14px;
}
.programs-area .programs .program .fa-check {
  color: green;
  width: 14px;
  height: 14px;
}
.programs-area .programs .program .program-upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
  min-height: 130px;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper {
    padding-bottom: 20px!important;
  }
}
.programs-area .programs .program .program-upper .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .feature {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary);
  }
}
.programs-area .programs .program .program-upper .feature p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .feature p {
    font-size: 18px;
  }
}
.programs-area .programs .program .program-upper .feature .subtitle {
  font-weight: 400;
  font-size: 12px;
}
.programs-area .programs .program .program-upper .feature.extra {
  flex-direction: row;
}
.programs-area .programs .program .program-upper .feature.extra p {
  margin-bottom: 0;
  font-size: 14px;
}
.programs-area .programs .program .program-upper .feature.extra p.token {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.programs-area .programs .program .program-upper .image-container {
  position: relative;
  width: 10%;
  padding-top: 6%;
}
@media (max-width: 1199px) {
  .programs-area .programs .program .program-upper .image-container {
    padding-top: 20%;
    margin: 20px 0;
  }
}
@media (max-width: 992px) {
  .programs-area .programs .program .program-upper .image-container {
    padding-top: 20%;
    margin: 20px 0;
  }
}
.programs-area .programs .program .program-upper .image-container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.programs-area .programs .program .program-lower {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.programs-area .programs .program .program-lower .more-information {
  margin: 20px 0;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: inherit;
  color: var(--primary);
  outline: none;
}
.programs-area .programs .program .program-lower .program-features {
  display: none;
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}
.programs-area .programs .program .program-lower .program-features li {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin: 5px 0;
  background-color: var(--secondary);
}
.programs-area .programs .program .program-lower .program-features li .feature-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 576px) {
  .programs-area .programs .program .program-lower .program-features li .feature-name {
    justify-content: center;
    align-items: center;
  }
}
.programs-area .programs .program .program-lower .program-features li .feature-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
@media (max-width: 576px) {
  .programs-area .programs .program .program-lower .program-features li .feature-value {
    justify-content: center;
    align-items: center;
  }
}
.programs-area .programs .program .program-lower .program-features li i {
  margin-right: 10px;
}
.programs-area .programs .program .program-lower .program-features li .example {
  font-size: 14px!important;
}
.programs-area .programs .program .program-lower .program-features li .warning {
  font-size: 16px;
  font-weight: 700;
}
.programs-area .programs .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
