.text-area {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Lato';
}
.text-area .row-reverse {
  flex-direction: row-reverse;
}
.text-area .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-area .column.primary-divider hr {
  background-color: var(--primary);
}
.text-area .column.primary-divider li:before {
  color: var(--primary);
}
.text-area .column.highlight-1-divider hr {
  background-color: var(--highlight-1);
}
.text-area .column.highlight-1-divider li:before {
  color: var(--highlight-1);
}
.text-area .column.highlight-2-divider hr {
  background-color: var(--highlight-2);
}
.text-area .column.highlight-2-divider li:before {
  color: var(--highlight-2);
}
.text-area .column.highlight-3-divider hr {
  background-color: var(--highlight-3);
}
.text-area .column.highlight-3-divider li:before {
  color: var(--highlight-3);
}
.text-area .column.highlight-4-divider hr {
  background-color: var(--highlight-4);
}
.text-area .column.highlight-4-divider li:before {
  color: var(--highlight-4);
}
.text-area .column.image-column {
  justify-content: center;
  align-items: center;
}
.text-area .column.image-column .image {
  position: relative;
  width: 100%;
  padding-top: 90%;
}
@media (max-width: 768px) {
  .text-area .column.image-column .image {
    padding-top: 50%;
  }
}
.text-area .column.image-column .image img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: contain;
}
.text-area .column .text {
  width: 100%;
  font-weight: 300;
}
.text-area .column .text p {
  margin-bottom: 0;
}
.text-area .column .text a {
  color: currentColor;
  cursor: pointer;
}
.text-area .column .text a:hover {
  color: currentColor;
  text-decoration: none!;
}
.text-area .column .text hr {
  width: 10%;
  height: 5px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  border: none;
}
.text-area .column .text ul {
  list-style: none;
  padding-left: 0;
}
.text-area .column .text ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.text-area .column .text ul li:before {
  content: '✓';
  font-size: 40px;
  margin-right: 10px;
}
